h1 Are you happy ?
form(class="form-inline")
	div(class="col-md-4")
		button(class="btn btn-primary btn-lg btn-block",ng-click="voteYes()") Yes
	div(class="col-md-4")
		button(class="btn btn-primary btn-lg btn-block",ng-click="voteNo()") No
	div(class="col-md-4")
		button(class="btn btn-primary btn-lg btn-block",ng-click="voteDontKnow()") I dont'know
block reset_audience