div(class="jumbotron")
	h1 Are you happy ?
	form(class="form-inline")
		div(class="col-md-4")
			button(class="btn btn-primary btn-lg btn-block") Yes
		div(class="col-md-4")
			button(class="btn btn-primary btn-lg btn-block") No
		div(class="col-md-4")
			button(class="btn btn-primary btn-lg btn-block") I dont'know