div(class="jumbotron")
   h1 Here is how you and other people feel...
      div(ng-controller='GraphController')
         canvas(id="pie",class="chart chart-pie",chart-data="data",chart-labels="labels",chart-legend="true")
         