extends board
block board
	div(class='row')
		div(class='col-md-6')
			include chart_pie
		div(class='col-md-6')
			include chart_bar
	div(class='row')
		div(class='col-md-6')
			include chart_doughnut
		div(class='col-md-6')
			include chart_line